@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ol.type-a {
    list-style-type: upper-alpha;
  }
  ol.type-a > li {
    font-weight: bold;
  }
  .custom-list-type-revert {
    list-style: revert;
  }
}
